<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE mapper
        PUBLIC "-/ /mybatis .org//DTD Mapper 3. 0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.injahow.goodsManager.dao.CommentDAO">
        <select id="listCommentAndUser" resultType="Comment">
            select memberId,memberName,memberAvatar
            from member
            where memberId=#{memberId}
        </select>

        <select id="listComment" resultType="Comment">
            select commentId,goodId,content,memberId,createTime
            from comment
        </select>

    <delete id="deleteCommentById">
        delete from comment where commentId=#{commentId}
    </delete>

    <delete id="deleteCommentsById" parameterType="java.util.List">
        delete from comment where commentId in
        <foreach collection="list" index="index" item="item" open="(" close=")" separator=",">
            #{item}
        </foreach>
    </delete>

</mapper>
