<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.injahow.goodsManager.dao.GoodSkuDAO" >

    <insert id="insertGoodSku" useGeneratedKeys="true" keyProperty="skuId">
        insert into good_sku(skuId,goodId,skuName,skuImg,paramsMap,originalPrice,sellPrice,goodStock,createTime,updateTime)
        values (#{skuId},#{goodId},#{skuName},#{skuImg},#{paramsMap},#{originalPrice},#{sellPrice},#{goodStock},#{createTime},#{updateTime})
    </insert>

    <delete id="deleteGoodSkuById" parameterType="com.injahow.goodsManager.bean.GoodSku">
        delete from good_sku where skuId=#{skuId}
    </delete>

    <select id="queryGoodSkuById" resultType="GoodSku">
        select skuId,goodId,skuName,skuImg,paramsMap,originalPrice,sellPrice,goodStock,createTime,updateTime
        from good_sku
        where skuId=#{skuId}
    </select>


</mapper>
